.top {
    background-image: url(top-back.png);
    background-repeat: no-repeat;
    background-position: center top; 
    width : 100%;
    height : 100px;  
}

.content {
    background-image: url(content-back.png);
    background-repeat: no-repeat;
    background-position: center top; 
    margin-top: 70px;
    width: 100%;
    height: 344px;
}

.footer {
    background-color: skyblue;
    width: 100%;
    height: 30px;
}

#p1 {
    border-color: black;
    margin-top: 85px;
    margin-left: 610px;
    width: 90px;
    height: 25px;
}

#p2 {
    border-color: black;
    margin-top: 3px;
    margin-left: 610px;
    width: 200px;
    height: 25px;
}
#p3 {
    border-color: black;
    margin-top: 3px;
    margin-left: 610px;
    width: 200px;
    height: 25px;
}
#p4 {
    border-color: black;
    margin-top: 3px;
    margin-left: 610px;
    width: 200px;
    height: 25px;
}
#p5 {
    border-color: black;
    margin-top: 3px;
    margin-left: 610px;
    width: 50px;
    height: 25px;
}
#p6 {
    border-color: black;
    margin-top: -10px;
    margin-left: 750px;
    width: 90px;
    height: 25px;
}

.checkbox {
    margin-top: -3px;
    margin-left: 500px;
    width: 20px
}